<!DOCTYPE html>
<html>
<head>
  <title>The Sand Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="top-bar beach-text">
    <div class="top-bar-left">
      <ul class="menu">
       <li class="menu-text header-text">The Sand Review</li>
        <% if request.fullpath != "/beaches" && request.fullpath != "/" %>
          <li><a class="button centered" href="/beaches">Home</a></li>
        <% elsif !current_user.nil? && current_user.role == "admin" %>
          <li><a class="button" href="/beaches">Home</a></li>
          <li><a class="button centered" href="/beaches/new">Add New Beach</a></li>
        <% end %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <%- if current_user -%>
          <img id="profile-pic" src="<%= current_user.profile_photo.thumb %>" />
          <li class = "nav-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
                  <li class = "nav-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class = "nav-link"><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
   
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  <div class="page">
    <%= yield :extra_footer %>
  </div>
</body>
</html>
